* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppin', sans-serif ;
}

body {
  background-color: #fff;
}

.Desktop {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.Mobile {
  display: none;
}

.logo {
  border-right: 1px solid #e0e0e0;
  padding: 0 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 10px;
}

.nav-contact-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-items: center;
  width: 129px;
  height: 40px;
  color: #fff;
  background-color: #ff4337;
  padding: 10px 20px;
  border-radius: 8px;
}

.nav-contact-btn:hover {
  background-color: #ff4337;
  opacity: 0.8;
  scale: 1.1;
  transition: all 0.3s ease;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}


.hero{
  width: 100%;  
  height: 500px;
  margin: auto;
}

.career{
  width: 342px;
  height: 152px;
  margin: auto;
}

.career h1{
  margin-bottom: 20px;
  margin-top: 20px;
}

.career p{
  color: #9a9ea6;
}

.btn{
  width: 342px;
  height: 48px;
  background-color: #ff4337;
  margin: auto;
  border: none;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  color: white;
  font-size: 20px;
}

.hero img{
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.culture{
  width: 342px;
  height: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
}






.policy{
  width: 342px;
  height: 60px;
  margin: auto;
  line-height: 40px;
}

.policy h4{
  font-size: 30px;
}

.policy p{
  font-size: 18px;
}

.senior-dev{
  max-width: 400px;
  margin: auto;   
}

.toronto{
  width: 350px;
  height: 228px;
  background-color: #EFF1F7;
  margin: 0 auto;
  border-radius: 12px;
  margin-top: 30px;
}

.full-time{
  display: flex;
  gap: 130px;
  justify-content: center;
  padding-top: 20px;
}

.web{
  font-size: 20px;
  font-weight: 600;
  padding-top: 15px;
  padding-left: 19px;
}

.card{
  padding-left: 19px; 
  padding-top: 5px;
  font-size: 16px;
  color: grey;
}

.time{
  width: 310px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 40px;
}

.calendar{
  display: flex;
  align-items: center;
  gap: 10px;
}

.build{
  margin-bottom: 40px;
}

.today{
  width: 342px;
  height: 482px;
  background-color: #1C070F;
  margin: auto;
  border-radius: 10px;
  margin-top: 60px;  
}

.klova1{ 
  display: flex;
  justify-content: center;
}


.today img{
  width: 74px;
  height: 74px;
  margin-top: 40px;
}

.commit{
  width: 302px;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  color: #FFFFFF;
}

.commit h2{
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.commit p{
  font-weight: 100px;
  line-height: 24px;
}

.services{
  width: 302px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  margin-top: 30px;
}

.btn1{
  width: 302px;
  height: 56px;
  background-color: #ff4337;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
}

.btn1 img {
  width: 24px;
  height: 24px;
  align-items: center;
  margin-top: -1px;
} 

.btn2{
  width: 302px;
  height: 56px;
  background-color: white;
  border: none;
  color: black;
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn2 img {
  width: 24px;
  height: 24px;
  align-items: center;
  margin-top: -1px;
} 


.offer{
  width: 342px;
  height: 198px;
  background-color: #FFECEB;
  border-radius: 10px;
  margin: auto;
}

.offer h3{
  font-size: 20px;
  padding-top: 15px;
  margin-left: 20px;
  font-size: 20px;
}

.offer p{
  padding-top: 5px;
  margin-left: 20px;
  font-size: 15px;
}

.first{
  width: 310px;
  height: 74px;
}


.subscribe-box{
  width: 310px;
  background: white;
  border-radius: 20px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: auto;
  margin-top: 30px;
}

.input-area{
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 18px;
}


input{
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  color: #6f7684;
  width: 100%;
}

input::placeholder{
  color: #6f7684;
}

button{
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 12px;
  background: #ff4338;
  color: white;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover{
  background: #e53935;
}


footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 20px;
  top: 181px;
  justify-content: space-between;
  padding-top: 50px;
}

footer p {
  color: #9a9ea6;
}

.footer-logo {
  gap: 10px;
  align-items: center;
  width: 630px;
}

.footer-links {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.socials {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding-top: 20px;
}

.flag{
  display: none;
}


@media screen and (min-width: 700px){

  .hero{
  max-width: 1300px;
  /* height: 900px; */
  margin: auto;
  padding: 20px;
  }

  .career{
    width: 342px;
    height: 152px;
    margin: 0;
  }

  .career h1{
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .career p{
    color: #9a9ea6;
  }

  .btn{
    width: 342px;
    height: 48px;
    background-color: #ff4337;
    margin: auto;
    border: none;
    border-radius: 8px;
    display: block;
    margin: 0;
    color: white;
    font-size: 20px;
  }

  .hero img{
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
  }

  .culture{
    width: 400px;
    height: 20px;
    display: block;
    margin: 0;
    margin-top: 20px;
    font-size: 24px;
  }

  .open{
    max-width: 1300px;
    padding: 20px;
    margin: auto;
    margin-top: 450px;
  }

  .policy{
    width: 342px;
    height: 60px;
    margin: 0;
    line-height: 40px;
  }

  .policy h4{
    font-size: 30px;
  }

  .policy p{
    display: none;
  }

  .senior-dev{
    max-width: 100%;
    margin: auto;   
  }

  .toronto{
    width: 100%;
    background-color: #EFF1F7;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 30px;
  }

  .full-time{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 20px;
    display: none;
  }

  .web{
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 19px;
  }

  .card{
    width: 500px;
    
    padding-left: 19px; 
    padding-top: 5px;
    font-size: 16px;
    color: grey;
  }

  .time{
    width: 97%;
    display: flex;
    align-items: center;
  }

  .calendar{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .flag{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .build{
    max-width: 1300px;
    padding: 20px;
    margin: auto;
    margin-bottom: 40px;
  }

  .link{
    display: none;
  }

  .today{
    width: 100%;
    height: 703px;
    background-color: #1C070F;
    margin: auto;
    border-radius: 20px;
    margin-top: 60px;  
  }

  .klova1{ 
    display: flex;
    justify-content: center;
  }


  .today img{
    width: 149px;
    height: 149px;
    margin-top: 60px;
  }

  .commit{
    width: 50%;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    color: #FFFFFF;
  }

  .commit h2{
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .commit p{
    font-size: 16px;
    font-weight: 100px;
    line-height: 40px;
  }

  .services{
    width: 500px;
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin: auto;
    margin-top: 80px;
  }

  .btn1{
    width: 242px;
    height: 60px;
    background-color: #ff4337;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
  }

  .btn1 img {
    width: 24px;
    height: 24px;
    align-items: center;
    margin-top: -1px;
  } 

  .btn2{
    width: 242px;
    height: 60px;
    background-color: white;
    border: none;
    color: black;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .btn2 img {
    width: 24px;
    height: 24px;
    align-items: center;
    margin-top: -1px;
  } 

  .newsletter{
    max-width: 1300px;
    padding: 20px;
    margin: auto;
  }


  .offer{
    width: 100%;
    height: 198px;
    background-color: #FFECEB;
    border-radius: 10px;
    margin: auto;
  }

  .offer h3{
    font-size: 20px;
    padding-top: 20px;
    margin-left: 20px;
    font-size: 20px;
  }

  .offer p{
    padding-top: 5px;
    margin-left: 20px;
    font-size: 15px;
    color: grey;
    display: flex;
  }

  .first{
    width: 700px;
    height: 74px;
  }


  .subscribe-box{
    width: 90%;
    background: white;
    border-radius: 20px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin: auto;
    margin-top: 30px;
  }

  .input-area{
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 18px;
  }


  input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: #6f7684;
    width: 100%;
  }

  input::placeholder{
    color: #6f7684;
  }

  button{
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 12px;
    background: #ff4338;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
  }

  button:hover{
    background: #e53935;
  }



}

@media screen and (max-width: 768px) {
  .Desktop {
    display: none;
  }

  .Mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }

  .logo {
    border-right: 1px solid #e0e0e0;
    padding: 0 15px;
  }

  .menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .mobile-nav-link {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 20px 30px;
  }




  footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 181px;
    padding: 20px;
    justify-content: space-between;
  }

  .footer-logo {
    gap: 10px;
    align-items: center;
    width: 100%;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    left: 0;
    gap: 20px;
    align-items: flex-start;
    justify-items: center;
  }

  .socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}
